<!-- templates/home.html -->
{% extends 'base.html' %}

    {% block content %}
    <html>
        <head>
            <style>
                body {
                    background-color: rosybrown;
                    color: black;
                }
                h1 {
                    font-style: italic;
                    font-family: 'Franklin Gothic Medium';
                    font-size: 100px;
                   margin-left: 30%;
                    color: white;
                    margin-bottom: 3px;
                }
            </style>
        </head>
    <body>
    <h1>Existing Volunteers</h1>

   
   </body>
    {% endblock %}
</html>
